/* CDN 방식으로 폰트를 가져온다 */
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  box-sizing: border-box;
  outline: none !important;
}

/* 위쪽 사이드바 스타일 */
a.navbar-brand{
  font-family: 'Jeju Gothic';
}

/* 위쪽 사이드바 버튼 스타일 */
.side_btn{
  border: none;
  background-color: #2c65c1;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.OthersMessage *{
  color: #000000;
  text-align: left;
}

.MyMessage *{
  color: #ffffff;
  text-align: right;
}

.dropdown-toggle::after {
  content: none;
}

.sendingTime{
  color: #878787;
  font-size: 9px;
  margin-bottom: 30px;
}

.jumbotron{
  padding: 13px;
}

.stikyFooter{
  position: sticky;
  display: block;
  bottom: 0px;
  left: 0px;
}

.sizeUpOnHover:hover{
  transform: scale(1.35);
}

.MyProfileImages{
  float: right;
  width: 65px;
  height: 65px;
  overflow: hidden;
  margin-top: -5px;
  margin-left: 10px;
  display: inline;
}

.MyProfileImages~.FileImage{
  float: left;
  left: 10px;
  width: 55px;
  height: 55px;
}

.OthersProfileImages{
  float: left;
  width: 65px;
  height: 65px;
  overflow: hidden;
  margin-top: -5px;
  margin-right: 10px;
  display: inline;
}

.OthersProfileImages~.FileImage{
  float: right;
  right: 10px;
  width: 55px;
  height: 55px;
}

.messageContent{
  font-family: 'Jeju Gothic';
  overflow-wrap: break-word;
}

.fileDownloadLink{
  color: blue;
  text-decoration: underline;
}

.fileDownloadLink{
  color: blue;
  text-decoration: underline;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* 아래쪽 사이드바 스타일 */
footer{
  color: #ffffff;
  width: 100%;
}

/* Chatting box 스타일 */
#Sending_Message_Box{
  width: 100%;
  margin-bottom: 8px;
}

#Sending_Message_Box:focus{
  background-color: #ffffff;
  color: black;
}

#Sending_Message_Box:not(focus){
  background-color: #dce3ef;
}

#Message_Writing_Box{
  width: 100%;
}

#Copyright{
  font-family: 'Jeju Gothic';
  font-size: 12pt;
  color: #f2f2f2;
}

#Copyright em{
  font-size: 12pt;
}

#Background{
  background-color: #c9ddff;
}

#Message_Send_Button{
  margin-top: 10px;
  margin-left: 8px;
}

#File_Transfer_Button{
  margin-top: 15px;
  margin-left: 8px;
}

#Modal_USER_ID{
  display: inline;
  font-family: 'Jeju Gothic';
}

#Modal_SIGNUP_DATE{
  display: inline;
  font-family: 'Jeju Gothic';
}

#userDefaultProfile{
  float: right;
  display: inline;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#smallModal{
  padding: 15px;
}

#FixedNavbar{
  border-bottom: #f8fc25 3px solid;
}

#WhiteSpaceForResponsivePage{
  width:100%;
  height: 150px;
}

@media screen and (max-width: 766px) {
  .responsiveNone{
    display: none;
  }
  .responsiveNone2{
    display: default;
  }
  .responsiveNone2 *{
    display: default;
  }
}

@media screen and (min-width: 767px) {
  .responsiveNone{
    display: default;
  }
  .responsiveNone2{
    display: none;
  }

  .responsiveNone2 *{
    display: none;
  }
}
