@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 위쪽 사이드바 스타일 */
a.navbar-brand{
  font-family: 'Jeju Gothic';
}

/* 위쪽 사이드바 버튼 스타일 */
.side_btn{
  border: none;
  background-color: #007bff;
}

.roomDelete_btn{
  border: none;
  background-color: #e9ecef;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* 아래쪽 사이드바 스타일 */
footer{
  color: #ffffff;
  width: 100%;
}

/* Chatting box 스타일 */
textarea{
  width: 100%
}

textarea:focus{
  background-color: #ffffff;
  color: black;
}

textarea:not(focus){
  background-color: #dce3ef;
}

.jumbotron{
  margin-top: 15px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-toggle::after {
  content: none;
}

#Copyright{
  font-family: 'Jeju Gothic';
  font-size: 15pt;
  text-align: center;
  color: #f2f2f2;
  width: 100%;
}

#Header {
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

#background{
  background-color: #c9ddff;
}

@media screen and (max-width: 766px) {
  .responsive{
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .responsive{
    display: default;
  }
}

@media screen and (max-width: 580px) {
  .responsiveSmall{
    display: none;
  }
}

@media screen and (max-width: 581px) {
  .responsiveSmall{
    display: none;
  }
}
